* {
    font-family: sans-serif;
    padding: 1rem
}
input{
    width: 50vw;
}
img{
    max-width: 10rem;
}
.card{
    max-width: 10rem;
}
.card p{
  
    text-align: center;
}
.card-grid{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}